<a target="_blank" href="https://colab.research.google.com/github/AI4Finance-Foundation/FinRL-Tutorials/blob/master/1-Introduction/FinRL_PortfolioAllocation_NeurIPS_2020.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Deep Reinforcement Learning for Stock Trading from Scratch: Portfolio Allocation

Tutorials to use OpenAI DRL to perform portfolio allocation in one Jupyter Notebook | Presented at NeurIPS 2020: Deep RL Workshop

* This blog is based on our paper: FinRL: A Deep Reinforcement Learning Library for Automated Stock Trading in Quantitative Finance, presented at NeurIPS 2020: Deep RL Workshop.
* Check out medium blog for detailed explanations: https://towardsdatascience.com/finrl-for-quantitative-finance-tutorial-for-portfolio-allocation-9b417660c7cd
* Please report any issues to our Github: https://github.com/AI4Finance-Foundation/FinRL/issues
* **Pytorch Version**

# Content

* [1. Problem Definition](#0)
* [2. Getting Started - Load Python packages](#1)
    * [2.1. Install Packages](#1.1)    
    * [2.2. Check Additional Packages](#1.2)
    * [2.3. Import Packages](#1.3)
    * [2.4. Create Folders](#1.4)
* [3. Download Data](#2)
* [4. Preprocess Data](#3)        
    * [4.1. Technical Indicators](#3.1)
    * [4.2. Perform Feature Engineering](#3.2)
* [5.Build Environment](#4)  
    * [5.1. Training & Trade Data Split](#4.1)
    * [5.2. User-defined Environment](#4.2)   
    * [5.3. Initialize Environment](#4.3)    
* [6.Implement DRL Algorithms](#5)  
* [7.Backtesting Performance](#6)  
    * [7.1. BackTestStats](#6.1)
    * [7.2. BackTestPlot](#6.2)   
    * [7.3. Baseline Stats](#6.3)   
    * [7.3. Compare to Stock Market Index](#6.4)

<a id='0'></a>
# Part 1. Problem Definition

This problem is to design an automated trading solution for portfolio alloacation. We model the stock trading process as a Markov Decision Process (MDP). We then formulate our trading goal as a maximization problem.

The algorithm is trained using Deep Reinforcement Learning (DRL) algorithms and the components of the reinforcement learning environment are:


* Action: The action space describes the allowed actions that the agent interacts with the
environment. Normally, a ∈ A represents the weight of a stock in the porfolio: a ∈ (-1,1). Assume our stock pool includes N stocks, we can use a list [a<sub>1</sub>, a<sub>2</sub>, ... , a<sub>N</sub>] to determine the weight for each stock in the porfotlio, where a<sub>i</sub> ∈ (-1,1), a<sub>1</sub>+ a<sub>2</sub>+...+a<sub>N</sub>=1. For example, "The weight of AAPL in the portfolio is 10%." is [0.1 , ...].

* Reward function: r(s, a, s′) is the incentive mechanism for an agent to learn a better action. The change of the portfolio value when action a is taken at state s and arriving at new state s',  i.e., r(s, a, s′) = v′ − v, where v′ and v represent the portfolio
values at state s′ and s, respectively

* State: The state space describes the observations that the agent receives from the environment. Just as a human trader needs to analyze various information before executing a trade, so
our trading agent observes many different features to better learn in an interactive environment.

* Environment: Dow 30 consituents


The data of the single stock that we will be using for this case study is obtained from Yahoo Finance API. The data contains Open-High-Low-Close price and volume.

<a id='1'></a>
# Part 2. Getting Started- Load Python Packages

<a id='1.1'></a>
## 2.1. Install all the packages through FinRL library

In [32]:
## install finrl library
!pip install wrds
!pip install swig
!pip install -q condacolab

!pip install 'shimmy>=2.0'
!pip install pandas_market_calendars
!apt-get update -y -qq && apt-get install -y -qq cmake libopenmpi-dev python3-dev zlib1g-dev libgl1-mesa-glx swig
!pip install git+https://github.com/AI4Finance-Foundation/FinRL.git

Requirement already satisfied: wrds in /opt/anaconda3/lib/python3.12/site-packages (3.3.0)
Requirement already satisfied: packaging<=24.2 in /opt/anaconda3/lib/python3.12/site-packages (from wrds) (24.1)
Requirement already satisfied: pandas<2.3,>=2.2 in /opt/anaconda3/lib/python3.12/site-packages (from wrds) (2.2.3)
Requirement already satisfied: psycopg2-binary<2.10,>=2.9 in /opt/anaconda3/lib/python3.12/site-packages (from wrds) (2.9.10)
Requirement already satisfied: sqlalchemy<2.1,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from wrds) (2.0.34)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas<2.3,>=2.2->wrds) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas<2.3,>=2.2->wrds) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas<2.3,>=2.2->wrds) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas<2.3,>=2.2->wrds) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy<2.1,>=2->wrds) (4.11.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas<2.3,>=2.2->wrds) (1.16.0)
Requirement already satisfied: swig in /opt/anaconda3/lib/python3.12/site-packages (4.3.0)
Requirement already satisfied: shimmy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (2.0.0)
Requirement already satisfied: numpy>=1.18.0 in /opt/anaconda3/lib/python3.12/site-packages (from shimmy>=2.0) (1.26.4)
Requirement already satisfied: gymnasium>=1.0.0a1 in /opt/anaconda3/lib/python3.12/site-packages (from shimmy>=2.0) (1.0.0)
Requirement already satisfied: cloudpickle>=1.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from gymnasium>=1.0.0a1->shimmy>=2.0) (3.0.0)
Requirement already satisfied: typing-extensions>=4.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from gymnasium>=1.0.0a1->shimmy>=2.0) (4.11.0)
Requirement already satisfied: farama-notifications>=0.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from gymnasium>=1.0.0a1->shimmy>=2.0) (0.0.4)
Requirement already satisfied: pandas_market_calendars in /opt/anaconda3/lib/python3.12/site-packages (5.0.0)
Requirement already satisfied: pandas>=1.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas_market_calendars) (2.2.3)
Requirement already satisfied: tzdata in /opt/anaconda3/lib/python3.12/site-packages (from pandas_market_calendars) (2023.3)
Requirement already satisfied: python-dateutil in /opt/anaconda3/lib/python3.12/site-packages (from pandas_market_calendars) (2.9.0.post0)
Requirement already satisfied: exchange-calendars>=3.3 in /opt/anaconda3/lib/python3.12/site-packages (from pandas_market_calendars) (4.10)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (from exchange-calendars>=3.3->pandas_market_calendars) (1.26.4)
Requirement already satisfied: pyluach in /opt/anaconda3/lib/python3.12/site-packages (from exchange-calendars>=3.3->pandas_market_calendars) (2.2.0)
Requirement already satisfied: toolz in /opt/anaconda3/lib/python3.12/site-packages (from exchange-calendars>=3.3->pandas_market_calendars) (0.12.0)
Requirement already satisfied: korean_lunar_calendar in /opt/anaconda3/lib/python3.12/site-packages (from exchange-calendars>=3.3->pandas_market_calendars) (0.3.1)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.1->pandas_market_calendars) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil->pandas_market_calendars) (1.16.0)
zsh:1: command not found: apt-get
Collecting git+https://github.com/AI4Finance-Foundation/FinRL.git
  Cloning https://github.com/AI4Finance-Foundation/FinRL.git to /private/var/folders/ks/bjl76g8d4zxgw0m5p8z2pd9r0000gn/T/pip-req-build-asm6e6mv
  Running command git clone --filter=blob:none --quiet https://github.com/AI4Finance-Foundation/FinRL.git /private/var/folders/ks/bjl76g8d4zxgw0m5p8z2pd9r0000gn/T/pip-req-build-asm6e6mv
  Resolved https://github.com/AI4Finance-Foundation/FinRL.git to commit d25d902a6de54931a329adc38a2663e8f576adc4
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting elegantrl@ git+https://github.com/AI4Finance-Foundation/ElegantRL.git (from finrl==0.3.8)
  Cloning https://github.com/AI4Finance-Foundation/ElegantRL.git to /private/var/folders/ks/bjl76g8d4zxgw0m5p8z2pd9r0000gn/T/pip-install-vaum9bqz/elegantrl_4bb046eefaf740d28d9360a3f574fc08
  Running command git clone --filter=blob:none --quiet https://github.com/AI4Finance-Foundation/ElegantRL.git /private/var/folders/ks/bjl76g8d4zxgw0m5p8z2pd9r0000gn/T/pip-install-vaum9bqz/elegantrl_4bb046eefaf740d28d9360a3f574fc08
  Resolved https://github.com/AI4Finance-Foundation/ElegantRL.git to commit 5e828af1503098f4da046c0f12432dbd4ef8bd97
  Preparing metadata (setup.py) ... done
Requirement already satisfied: alpaca-py<0.38,>=0.37 in /opt/anaconda3/lib/python3.12/site-packages (from finrl==0.3.8) (0.37.0)
Requirement already satisfied: alpaca-trade-api<4,>=3 in /opt/anaconda3/lib/python3.12/site-packages (from finrl==0.3.8) (3.2.0)
Requirement already satisfied: ccxt<4,>=3 in /opt/anaconda3/lib/python3.12/site-packages (from finrl==0.3.8) (3.1.60)
Requirement already satisfied: jqdatasdk<2,>=1 in /opt/anaconda3/lib/python3.12/site-packages (from finrl==0.3.8) (1.9.7)
Requirement already satisfied: pyfolio-reloaded<0.10,>=0.9 in /opt/anaconda3/lib/python3.12/site-packages (from finrl==0.3.8) (0.9.8)
Requirement already satisfied: pyportfolioopt<2,>=1 in /opt/anaconda3/lib/python3.12/site-packages (from finrl==0.3.8) (1.5.6)
Requirement already satisfied: ray<3,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from ray[default,tune]<3,>=2->finrl==0.3.8) (2.44.1)
Requirement already satisfied: scikit-learn<2,>=1 in /opt/anaconda3/lib/python3.12/site-packages (from finrl==0.3.8) (1.6.1)
Requirement already satisfied: selenium<5,>=4 in /opt/anaconda3/lib/python3.12/site-packages (from finrl==0.3.8) (4.31.0)
Requirement already satisfied: stable-baselines3>=2.0.0a5 in /opt/anaconda3/lib/python3.12/site-packages (from stable-baselines3[extra]>=2.0.0a5->finrl==0.3.8) (2.5.0)
Requirement already satisfied: stockstats<0.6,>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from finrl==0.3.8) (0.5.4)
Requirement already satisfied: webdriver-manager<5,>=4 in /opt/anaconda3/lib/python3.12/site-packages (from finrl==0.3.8) (4.0.2)
Requirement already satisfied: wrds<4,>=3 in /opt/anaconda3/lib/python3.12/site-packages (from finrl==0.3.8) (3.3.0)
Requirement already satisfied: yfinance<0.3,>=0.2 in /opt/anaconda3/lib/python3.12/site-packages (from finrl==0.3.8) (0.2.55)
Requirement already satisfied: msgpack<2.0.0,>=1.0.3 in /opt/anaconda3/lib/python3.12/site-packages (from alpaca-py<0.38,>=0.37->finrl==0.3.8) (1.0.3)
Requirement already satisfied: pandas>=1.5.3 in /opt/anaconda3/lib/python3.12/site-packages (from alpaca-py<0.38,>=0.37->finrl==0.3.8) (2.2.3)
Requirement already satisfied: pydantic<3.0.0,>=2.0.3 in /opt/anaconda3/lib/python3.12/site-packages (from alpaca-py<0.38,>=0.37->finrl==0.3.8) (2.8.2)
Requirement already satisfied: requests<3.0.0,>=2.30.0 in /opt/anaconda3/lib/python3.12/site-packages (from alpaca-py<0.38,>=0.37->finrl==0.3.8) (2.32.3)
Requirement already satisfied: sseclient-py<2.0.0,>=1.7.2 in /opt/anaconda3/lib/python3.12/site-packages (from alpaca-py<0.38,>=0.37->finrl==0.3.8) (1.8.0)
Requirement already satisfied: websockets>=10.4 in /opt/anaconda3/lib/python3.12/site-packages (from alpaca-py<0.38,>=0.37->finrl==0.3.8) (10.4)
Requirement already satisfied: numpy>=1.11.1 in /opt/anaconda3/lib/python3.12/site-packages (from alpaca-trade-api<4,>=3->finrl==0.3.8) (1.26.4)
Requirement already satisfied: urllib3<2,>1.24 in /opt/anaconda3/lib/python3.12/site-packages (from alpaca-trade-api<4,>=3->finrl==0.3.8) (1.26.20)
Requirement already satisfied: websocket-client<2,>=0.56.0 in /opt/anaconda3/lib/python3.12/site-packages (from alpaca-trade-api<4,>=3->finrl==0.3.8) (1.8.0)
Requirement already satisfied: aiohttp<4,>=3.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from alpaca-trade-api<4,>=3->finrl==0.3.8) (3.10.5)
Requirement already satisfied: PyYAML==6.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from alpaca-trade-api<4,>=3->finrl==0.3.8) (6.0.1)
Requirement already satisfied: deprecation==2.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from alpaca-trade-api<4,>=3->finrl==0.3.8) (2.1.0)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.12/site-packages (from deprecation==2.1.0->alpaca-trade-api<4,>=3->finrl==0.3.8) (24.1)
Requirement already satisfied: setuptools>=60.9.0 in /opt/anaconda3/lib/python3.12/site-packages (from ccxt<4,>=3->finrl==0.3.8) (75.1.0)
Requirement already satisfied: certifi>=2018.1.18 in /opt/anaconda3/lib/python3.12/site-packages (from ccxt<4,>=3->finrl==0.3.8) (2025.1.31)
Requirement already satisfied: cryptography>=2.6.1 in /opt/anaconda3/lib/python3.12/site-packages (from ccxt<4,>=3->finrl==0.3.8) (43.0.0)
Requirement already satisfied: aiodns>=1.1.1 in /opt/anaconda3/lib/python3.12/site-packages (from ccxt<4,>=3->finrl==0.3.8) (3.2.0)
Requirement already satisfied: yarl>=1.7.2 in /opt/anaconda3/lib/python3.12/site-packages (from ccxt<4,>=3->finrl==0.3.8) (1.11.0)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from jqdatasdk<2,>=1->finrl==0.3.8) (1.16.0)
Requirement already satisfied: SQLAlchemy>=1.2.8 in /opt/anaconda3/lib/python3.12/site-packages (from jqdatasdk<2,>=1->finrl==0.3.8) (2.0.34)
Requirement already satisfied: pymysql>=0.7.6 in /opt/anaconda3/lib/python3.12/site-packages (from jqdatasdk<2,>=1->finrl==0.3.8) (1.1.1)
Requirement already satisfied: thriftpy2!=0.5.1,>=0.3.9 in /opt/anaconda3/lib/python3.12/site-packages (from jqdatasdk<2,>=1->finrl==0.3.8) (0.5.2)
Requirement already satisfied: ipython>=3.2.3 in /opt/anaconda3/lib/python3.12/site-packages (from pyfolio-reloaded<0.10,>=0.9->finrl==0.3.8) (8.27.0)
Requirement already satisfied: matplotlib>=1.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from pyfolio-reloaded<0.10,>=0.9->finrl==0.3.8) (3.9.2)
Requirement already satisfied: pytz>=2014.10 in /opt/anaconda3/lib/python3.12/site-packages (from pyfolio-reloaded<0.10,>=0.9->finrl==0.3.8) (2024.1)
Requirement already satisfied: scipy>=0.14.0 in /opt/anaconda3/lib/python3.12/site-packages (from pyfolio-reloaded<0.10,>=0.9->finrl==0.3.8) (1.13.1)
Requirement already satisfied: seaborn>=0.7.1 in /opt/anaconda3/lib/python3.12/site-packages (from pyfolio-reloaded<0.10,>=0.9->finrl==0.3.8) (0.13.2)
Requirement already satisfied: empyrical-reloaded>=0.5.9 in /opt/anaconda3/lib/python3.12/site-packages (from pyfolio-reloaded<0.10,>=0.9->finrl==0.3.8) (0.5.11)
Requirement already satisfied: cvxpy>=1.1.19 in /opt/anaconda3/lib/python3.12/site-packages (from pyportfolioopt<2,>=1->finrl==0.3.8) (1.6.4)
Requirement already satisfied: ecos<3.0.0,>=2.0.14 in /opt/anaconda3/lib/python3.12/site-packages (from pyportfolioopt<2,>=1->finrl==0.3.8) (2.0.14)
Requirement already satisfied: plotly<6.0.0,>=5.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from pyportfolioopt<2,>=1->finrl==0.3.8) (5.24.1)
Requirement already satisfied: click>=7.0 in /opt/anaconda3/lib/python3.12/site-packages (from ray<3,>=2->ray[default,tune]<3,>=2->finrl==0.3.8) (8.1.7)
Requirement already satisfied: filelock in /opt/anaconda3/lib/python3.12/site-packages (from ray<3,>=2->ray[default,tune]<3,>=2->finrl==0.3.8) (3.13.1)
Requirement already satisfied: jsonschema in /opt/anaconda3/lib/python3.12/site-packages (from ray<3,>=2->ray[default,tune]<3,>=2->finrl==0.3.8) (4.23.0)
Requirement already satisfied: protobuf!=3.19.5,>=3.15.3 in /opt/anaconda3/lib/python3.12/site-packages (from ray<3,>=2->ray[default,tune]<3,>=2->finrl==0.3.8) (4.25.3)
Requirement already satisfied: aiosignal in /opt/anaconda3/lib/python3.12/site-packages (from ray<3,>=2->ray[default,tune]<3,>=2->finrl==0.3.8) (1.2.0)
Requirement already satisfied: frozenlist in /opt/anaconda3/lib/python3.12/site-packages (from ray<3,>=2->ray[default,tune]<3,>=2->finrl==0.3.8) (1.4.0)
Requirement already satisfied: aiohttp-cors in /opt/anaconda3/lib/python3.12/site-packages (from ray[default,tune]<3,>=2->finrl==0.3.8) (0.8.1)
Requirement already satisfied: colorful in /opt/anaconda3/lib/python3.12/site-packages (from ray[default,tune]<3,>=2->finrl==0.3.8) (0.5.6)
Requirement already satisfied: opencensus in /opt/anaconda3/lib/python3.12/site-packages (from ray[default,tune]<3,>=2->finrl==0.3.8) (0.11.4)
Requirement already satisfied: prometheus-client>=0.7.1 in /opt/anaconda3/lib/python3.12/site-packages (from ray[default,tune]<3,>=2->finrl==0.3.8) (0.14.1)
Requirement already satisfied: smart-open in /opt/anaconda3/lib/python3.12/site-packages (from ray[default,tune]<3,>=2->finrl==0.3.8) (5.2.1)
Requirement already satisfied: virtualenv!=20.21.1,>=20.0.24 in /opt/anaconda3/lib/python3.12/site-packages (from ray[default,tune]<3,>=2->finrl==0.3.8) (20.30.0)
Requirement already satisfied: grpcio>=1.42.0 in /opt/anaconda3/lib/python3.12/site-packages (from ray[default,tune]<3,>=2->finrl==0.3.8) (1.71.0)
Requirement already satisfied: py-spy>=0.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ray[default,tune]<3,>=2->finrl==0.3.8) (0.4.0)
Requirement already satisfied: tensorboardX>=1.9 in /opt/anaconda3/lib/python3.12/site-packages (from ray[default,tune]<3,>=2->finrl==0.3.8) (2.6.2.2)
Requirement already satisfied: pyarrow>=9.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from ray[default,tune]<3,>=2->finrl==0.3.8) (19.0.1)
Requirement already satisfied: fsspec in /opt/anaconda3/lib/python3.12/site-packages (from ray[default,tune]<3,>=2->finrl==0.3.8) (2024.6.1)
Requirement already satisfied: joblib>=1.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from scikit-learn<2,>=1->finrl==0.3.8) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from scikit-learn<2,>=1->finrl==0.3.8) (3.5.0)
Requirement already satisfied: trio~=0.17 in /opt/anaconda3/lib/python3.12/site-packages (from selenium<5,>=4->finrl==0.3.8) (0.29.0)
Requirement already satisfied: trio-websocket~=0.9 in /opt/anaconda3/lib/python3.12/site-packages (from selenium<5,>=4->finrl==0.3.8) (0.12.2)
Requirement already satisfied: typing_extensions~=4.9 in /opt/anaconda3/lib/python3.12/site-packages (from selenium<5,>=4->finrl==0.3.8) (4.11.0)
Requirement already satisfied: gymnasium<1.1.0,>=0.29.1 in /opt/anaconda3/lib/python3.12/site-packages (from stable-baselines3>=2.0.0a5->stable-baselines3[extra]>=2.0.0a5->finrl==0.3.8) (1.0.0)
Requirement already satisfied: torch<3.0,>=2.3 in /opt/anaconda3/lib/python3.12/site-packages (from stable-baselines3>=2.0.0a5->stable-baselines3[extra]>=2.0.0a5->finrl==0.3.8) (2.6.0)
Requirement already satisfied: cloudpickle in /opt/anaconda3/lib/python3.12/site-packages (from stable-baselines3>=2.0.0a5->stable-baselines3[extra]>=2.0.0a5->finrl==0.3.8) (3.0.0)
Requirement already satisfied: opencv-python in /opt/anaconda3/lib/python3.12/site-packages (from stable-baselines3[extra]>=2.0.0a5->finrl==0.3.8) (4.11.0.86)
Requirement already satisfied: pygame in /opt/anaconda3/lib/python3.12/site-packages (from stable-baselines3[extra]>=2.0.0a5->finrl==0.3.8) (2.6.1)
Requirement already satisfied: tensorboard>=2.9.1 in /opt/anaconda3/lib/python3.12/site-packages (from stable-baselines3[extra]>=2.0.0a5->finrl==0.3.8) (2.19.0)
Requirement already satisfied: psutil in /opt/anaconda3/lib/python3.12/site-packages (from stable-baselines3[extra]>=2.0.0a5->finrl==0.3.8) (5.9.0)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.12/site-packages (from stable-baselines3[extra]>=2.0.0a5->finrl==0.3.8) (4.66.5)
Requirement already satisfied: rich in /opt/anaconda3/lib/python3.12/site-packages (from stable-baselines3[extra]>=2.0.0a5->finrl==0.3.8) (13.7.1)
Requirement already satisfied: ale-py>=0.9.0 in /opt/anaconda3/lib/python3.12/site-packages (from stable-baselines3[extra]>=2.0.0a5->finrl==0.3.8) (0.10.2)
Requirement already satisfied: pillow in /opt/anaconda3/lib/python3.12/site-packages (from stable-baselines3[extra]>=2.0.0a5->finrl==0.3.8) (10.4.0)
Requirement already satisfied: python-dotenv in /opt/anaconda3/lib/python3.12/site-packages (from webdriver-manager<5,>=4->finrl==0.3.8) (0.21.0)
Requirement already satisfied: psycopg2-binary<2.10,>=2.9 in /opt/anaconda3/lib/python3.12/site-packages (from wrds<4,>=3->finrl==0.3.8) (2.9.10)
Requirement already satisfied: multitasking>=0.0.7 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance<0.3,>=0.2->finrl==0.3.8) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance<0.3,>=0.2->finrl==0.3.8) (3.10.0)
Requirement already satisfied: frozendict>=2.3.4 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance<0.3,>=0.2->finrl==0.3.8) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance<0.3,>=0.2->finrl==0.3.8) (3.17.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance<0.3,>=0.2->finrl==0.3.8) (4.12.3)
Requirement already satisfied: th in /opt/anaconda3/lib/python3.12/site-packages (from elegantrl@ git+https://github.com/AI4Finance-Foundation/ElegantRL.git->finrl==0.3.8) (0.4.1)
Requirement already satisfied: pycares>=4.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from aiodns>=1.1.1->ccxt<4,>=3->finrl==0.3.8) (4.6.0)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp<4,>=3.8.3->alpaca-trade-api<4,>=3->finrl==0.3.8) (2.4.0)
Requirement already satisfied: attrs>=17.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp<4,>=3.8.3->alpaca-trade-api<4,>=3->finrl==0.3.8) (25.3.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp<4,>=3.8.3->alpaca-trade-api<4,>=3->finrl==0.3.8) (6.0.4)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance<0.3,>=0.2->finrl==0.3.8) (2.5)
Requirement already satisfied: cffi>=1.12 in /opt/anaconda3/lib/python3.12/site-packages (from cryptography>=2.6.1->ccxt<4,>=3->finrl==0.3.8) (1.17.1)
Requirement already satisfied: osqp>=0.6.2 in /opt/anaconda3/lib/python3.12/site-packages (from cvxpy>=1.1.19->pyportfolioopt<2,>=1->finrl==0.3.8) (1.0.3)
Requirement already satisfied: clarabel>=0.5.0 in /opt/anaconda3/lib/python3.12/site-packages (from cvxpy>=1.1.19->pyportfolioopt<2,>=1->finrl==0.3.8) (0.10.0)
Requirement already satisfied: scs>=3.2.4.post1 in /opt/anaconda3/lib/python3.12/site-packages (from cvxpy>=1.1.19->pyportfolioopt<2,>=1->finrl==0.3.8) (3.2.7.post2)
Requirement already satisfied: bottleneck>=1.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from empyrical-reloaded>=0.5.9->pyfolio-reloaded<0.10,>=0.9->finrl==0.3.8) (1.3.7)
Requirement already satisfied: farama-notifications>=0.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from gymnasium<1.1.0,>=0.29.1->stable-baselines3>=2.0.0a5->stable-baselines3[extra]>=2.0.0a5->finrl==0.3.8) (0.0.4)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython>=3.2.3->pyfolio-reloaded<0.10,>=0.9->finrl==0.3.8) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython>=3.2.3->pyfolio-reloaded<0.10,>=0.9->finrl==0.3.8) (0.19.1)


<a id='1.2'></a>
## 2.2. Check if the additional packages needed are present, if not install them.
* Yahoo Finance API
* pandas
* numpy
* matplotlib
* stockstats
* OpenAI gym
* stable-baselines
* tensorflow
* pyfolio

<a id='1.3'></a>
## 2.3. Import Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
matplotlib.use('Agg')
%matplotlib inline

from finrl import config
from finrl.meta.preprocessor.preprocessors import FeatureEngineer, data_split
import sys
sys.path.append("../FinRL-Library")

<a id='1.4'></a>
## 2.4. Create Folders

In [2]:
import os
if not os.path.exists("./" + config.DATA_SAVE_DIR):
    os.makedirs("./" + config.DATA_SAVE_DIR)
if not os.path.exists("./" + config.TRAINED_MODEL_DIR):
    os.makedirs("./" + config.TRAINED_MODEL_DIR)
if not os.path.exists("./" + config.TENSORBOARD_LOG_DIR):
    os.makedirs("./" + config.TENSORBOARD_LOG_DIR)
if not os.path.exists("./" + config.RESULTS_DIR):
    os.makedirs("./" + config.RESULTS_DIR)

<a id='2'></a>
# Part 3. Download Data
Yahoo Finance is a website that provides stock data, financial news, financial reports, etc. All the data provided by Yahoo Finance is free.
* FinRL uses a class **YahooDownloader** to fetch data from Yahoo Finance API
* Call Limit: Using the Public API (without authentication), you are limited to 2,000 requests per hour per IP (or up to a total of 48,000 requests a day).

In [3]:
TRADE_START_DATE = '2023-04-04'
TRADE_END_DATE = '2025-04-07'

In [4]:
df = pd.read_csv('data.csv')

In [5]:
print(df.isnull().sum())

date      0
close     0
high      0
low       0
open      0
volume    0
tic       0
day       0
dtype: int64

In [6]:
df.shape

(24243, 8)

In [7]:
day_values_per_tic = df.groupby('tic')['day'].apply(lambda x: sorted(x.unique())).reset_index()
day_values_per_tic.columns = ['tic', 'unique_days']

# Display
print(day_values_per_tic)

      tic            unique_days
0     agg        [0, 1, 2, 3, 4]
1     bil        [0, 1, 2, 3, 4]
2  btcusd  [0, 1, 2, 3, 4, 5, 6]
3     gld        [0, 1, 2, 3, 4]
4     spy        [0, 1, 2, 3, 4]
5      vb        [0, 1, 2, 3, 4]
6     vnq        [0, 1, 2, 3, 4]
7      vo        [0, 1, 2, 3, 4]
8     vwo        [0, 1, 2, 3, 4]

In [8]:
# Match 5-day and 7-day tickers using apply
tics_5day = day_values_per_tic[day_values_per_tic['unique_days'].apply(lambda x: x == list(range(5)))]['tic']
tics_7day = day_values_per_tic[day_values_per_tic['unique_days'].apply(lambda x: x == list(range(7)))]['tic']

# Filter the original df
df_5day_full = df[df['tic'].isin(tics_5day)]
df_7day_full = df[df['tic'].isin(tics_7day)]

# Results
print("5-day tickers:", tics_5day.tolist())
print("7-day tickers:", tics_7day.tolist())
print("5-day df shape:", df_5day_full.shape)
print("7-day df shape:", df_7day_full.shape)

5-day tickers: ['agg', 'bil', 'gld', 'spy', 'vb', 'vnq', 'vo', 'vwo']
7-day tickers: ['btcusd']
5-day df shape: (20520, 8)
7-day df shape: (3723, 8)

In [9]:
df.shape

(24243, 8)

In [10]:
df.head()

         date   close     high     low    open     volume     tic  day
0  2015-02-01  228.99  233.790  210.00  218.67     7220.0  btcusd    6
1  2015-02-02  112.20  112.230  112.00  112.06  2792120.0     agg    0
2  2015-02-02   91.46   91.480   91.46   91.48  3557487.0     bil    0
3  2015-02-02  237.83  240.100  220.89  228.39     7421.0  btcusd    0
4  2015-02-02  122.42  123.155  121.82  121.84  8885189.0     gld    0

# Part 4: Preprocess Data
Data preprocessing is a crucial step for training a high quality machine learning model. We need to check for missing data and do feature engineering in order to convert the data into a model-ready state.
* Add technical indicators. In practical trading, various information needs to be taken into account, for example the historical stock prices, current holding shares, technical indicators, etc. In this article, we demonstrate two trend-following technical indicators: MACD and RSI.
* Add turbulence index. Risk-aversion reflects whether an investor will choose to preserve the capital. It also influences one's trading strategy when facing different market volatility level. To control the risk in a worst-case scenario, such as financial crisis of 2007–2008, FinRL employs the financial turbulence index that measures extreme asset price fluctuation.

In [11]:
fe = FeatureEngineer(
                    use_technical_indicator=True,
                    use_turbulence=False,
                    user_defined_feature = False)

df_5day_full = fe.preprocess_data(df_5day_full)
df_7day_full = fe.preprocess_data(df_7day_full)

Successfully added technical indicators
Successfully added technical indicators

In [12]:
df_5day_full.shape

(20520, 16)

In [13]:
df_7day_full.shape

(3723, 16)

In [14]:
df = pd.concat([df_5day_full, df_7day_full], ignore_index=False)
df.index = range(len(df))  # Assign new sequential index

In [15]:
df.shape

(24243, 16)

In [16]:
df.head(50)

,date,close,high,low,open,volume,tic,day,macd,boll_ub,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma
0,2015-02-02,112.20,112.2300,112.0000,112.06,2792120.0,agg,0,0.000000,112.593112,111.376888,0.000000,-66.666667,100.000000,112.200000,112.200000
1,2015-02-02,91.46,91.4800,91.4600,91.48,3557487.0,bil,0,0.000000,112.593112,111.376888,0.000000,-66.666667,100.000000,91.460000,91.460000
2,2015-02-02,122.42,123.1550,121.8200,121.84,8885189.0,gld,0,0.000000,112.593112,111.376888,0.000000,-66.666667,100.000000,122.420000,122.420000
3,2015-02-02,201.92,202.0300,197.8600,200.05,163106969.0,spy,0,0.000000,112.593112,111.376888,0.000000,-66.666667,100.000000,201.920000,201.920000
4,2015-02-02,115.12,115.2100,112.8500,114.38,549866.0,vb,0,0.000000,112.593112,111.376888,0.000000,-66.666667,100.000000,115.120000,115.120000
5,2015-02-02,86.32,86.6900,84.6851,86.53,7523640.0,vnq,0,0.000000,112.593112,111.376888,0.000000,-66.666667,100.000000,86.320000,86.320000
6,2015-02-02,122.30,122.3899,119.9400,121.66,823489.0,vo,0,0.000000,112.593112,111.376888,0.000000,-66.666667,100.000000,122.300000,122.300000
7,2015-02-02,40.65,40.7600,40.2800,40.40,15944366.0,vwo,0,0.000000,112.593112,111.376888,0.000000,-66.666667,100.000000,40.650000,40.650000
8,2015-02-03,111.77,112.1000,111.7600,112.10,1815375.0,agg,1,-0.009647,112.593112,111.376888,0.000000,-66.666667,100.000000,111.985000,111.985000
9,2015-02-03,91.48,91.4800,91.4600,91.46,266084.0,bil,1,0.000449,91.498284,91.441716,100.000000,66.666667,100.000000,91.470000,91.470000
10,2015-02-03,121.05,121.7600,120.5648,121.74,8255863.0,gld,1,-0.030737,123.672473,119.797527,0.000000,-66.666667,100.000000,121.735000,121.735000
11,2015-02-03,204.84,204.8500,202.5500,203.00,124212881.0,spy,1,0.065513,207.509504,199.250496,100.000000,66.666667,100.000000,203.380000,203.380000
12,2015-02-03,117.28,117.3300,115.5000,115.50,650585.0,vb,1,0.048462,119.254701,113.145299,100.000000,66.666667,100.000000,116.200000,116.200000
13,2015-02-03,87.07,87.1000,85.6600,86.33,4617437.0,vnq,1,0.016827,87.755660,85.634340,100.000000,66.666667,100.000000,86.695000,86.695000
14,2015-02-03,124.26,124.2900,122.7400,123.05,386410.0,vo,1,0.043974,126.051859,120.508141,100.000000,66.666667,100.000000,123.280000,123.280000
15,2015-02-03,41.37,41.4100,41.0000,41.03,20858075.0,vwo,1,0.016154,42.028234,39.991766,100.000000,66.666667,100.000000,41.010000,41.010000
16,2015-02-04,111.94,111.9500,111.5000,111.64,1953033.0,agg,2,-0.007021,112.403128,111.536872,29.026750,-69.565217,100.000000,111.970000,111.970000
17,2015-02-04,91.46,91.4800,91.4600,91.46,214178.0,bil,2,-0.000048,91.489761,91.443573,49.152542,-50.000000,100.000000,91.466667,91.466667
18,2015-02-04,121.58,122.2200,120.9200,121.63,5386747.0,gld,2,-0.022730,123.064975,120.301692,28.581701,-19.861991,43.704008,121.683333,121.683333
19,2015-02-04,204.06,205.3800,203.5100,203.92,134306728.0,spy,2,0.059289,206.630395,200.582938,78.349371,54.937413,100.000000,203.606667,203.606667
20,2015-02-04,116.77,117.4120,116.5600,116.85,447819.0,vb,2,0.045935,118.648052,114.131948,80.369515,56.541540,100.000000,116.390000,116.390000
21,2015-02-04,86.71,87.0900,86.2101,86.87,3332758.0,vnq,2,0.010277,87.450200,85.949800,66.820276,56.070923,100.000000,86.700000,86.700000
22,2015-02-04,123.71,124.3900,123.3900,123.67,434403.0,vo,2,0.038977,125.445247,121.401420,77.502045,52.218902,100.000000,123.423333,123.423333
23,2015-02-04,41.09,41.5000,41.0500,41.19,8677098.0,vwo,2,0.011900,41.762568,40.310765,71.311475,44.801980,100.000000,41.036667,41.036667
24,2015-02-05,111.71,111.8474,111.5700,111.79,2409552.0,agg,3,-0.013959,112.343938,111.466062,20.641146,-87.732027,100.000000,111.905000,111.905000
25,2015-02-05,91.46,91.4800,91.4600,91.46,414793.0,bil,3,-0.000273,91.485000,91.445000,49.152542,-44.444444,100.000000,91.465000,91.465000
26,2015-02-05,121.79,121.8300,120.6100,120.98,6879945.0,gld,3,-0.010949,122.843137,120.576863,36.071177,-37.859949,53.194921,121.710000,121.710000
27,2015-02-05,206.12,206.3000,204.7700,204.86,97953181.0,spy,3,0.129380,207.758086,200.711914,86.396222,88.660352,100.000000,204.235000,204.235000
28,2015-02-05,118.22,118.3946,117.0400,117.13,385979.0,vb,3,0.096011,119.445211,114.249789,87.554905,90.423739,100.000000,116.847500,116.847500
29,2015-02-05,87.75,87.7900,86.6700,86.92,2921645.0,vnq,3,0.044595,88.178107,85.746893,83.339982,129.141640,100.000000,86.962500,86.962500
30,2015-02-05,125.23,125.2600,124.0401,124.31,327650.0,vo,3,0.090627,126.322339,121.427661,86.308464,92.115705,100.000000,123.875000,123.875000
31,2015-02-05,41.40,41.4300,41.0200,41.07,11220549.0,vwo,3,0.020867,41.822698,40.432302,78.406552,52.473118,91.215588,41.127500,41.127500
32,2015-02-06,111.06,111.4100,111.0300,111.41,2531315.0,agg,4,-0.043299,112.582002,110.889998,11.190113,-158.527209,100.000000,111.736000,111.736000
33,2015-02-06,91.46,91.4800,91.4600,91.48,291738.0,bil,4,-0.000390,91.481889,91.446111,49.152542,-41.666667,100.000000,91.464000,91.464000
34,2015-02-06,118.64,119.5200,117.9500,119.15,13206906.0,gld,4,-0.129663,124.011977,118.180023,13.729590,-166.666667,81.618921,121.096000,121.096000
35,2015-02-06,205.55,207.2400,204.9200,206.56,125672026.0,spy,4,0.142062,207.767936,201.228064,78.088648,82.944289,100.000000,204.498000,204.498000
36,2015-02-06,117.90,118.6700,117.5054,118.40,718075.0,vb,4,0.108467,119.496705,114.619295,80.802631,83.683983,100.000000,117.058000,117.058000
37,2015-02-06,85.20,87.6600,84.8333,87.54,6323274.0,vnq,4,-0.039166,88.505627,84.714373,36.829281,-83.375151,29.930975,86.610000,86.610000
38,2015-02-06,124.70,125.6000,124.2800,125.52,395036.0,vo,4,0.095696,126.284237,121.795763,75.630061,81.637535,100.000000,124.040000,124.040000
39,2015-02-06,40.72,41.0100,40.5901,40.77,19723986.0,vwo,4,-0.001759,41.749790,40.342210,50.221907,-58.352443,14.307999,41.046000,41.046000
40,2015-02-09,111.04,111.3100,111.0400,111.31,1724911.0,agg,0,-0.060979,112.566319,110.673681,11.029369,-103.751108,100.000000,111.620000,111.620000
41,2015-02-09,91.44,91.4600,91.4400,91.46,147068.0,bil,0,-0.001308,91.485298,91.434702,31.449374,-200.000000,100.000000,91.460000,91.460000
42,2015-02-09,119.17,119.4000,118.7700,118.83,5237181.0,gld,0,-0.175926,123.820541,117.729459,22.124972,-88.756787,81.618921,120.775000,120.775000
43,2015-02-09,204.63,205.6400,204.1350,204.77,87219016.0,spy,0,0.107675,207.446705,201.593295,67.285781,29.644269,68.991171,204.520000,204.520000
44,2015-02-09,117.19,118.1500,117.0000,117.60,249545.0,vb,0,0.083556,119.263905,114.896095,68.650680,41.011885,69.496091,117.080000,117.080000
45,2015-02-09,84.60,85.6100,84.5800,85.12,4235744.0,vnq,0,-0.114438,88.634686,83.915314,32.424654,-131.901918,36.055167,86.275000,86.275000
46,2015-02-09,124.10,124.6300,123.8500,124.41,326692.0,vo,0,0.071287,126.057904,122.042096,66.058549,29.784830,71.770804,124.050000,124.050000
47,2015-02-09,40.67,40.7858,40.5600,40.59,7247112.0,vwo,0,-0.017465,41.683695,40.282972,48.885243,-66.120021,10.967552,40.983333,40.983333
48,2015-02-10,110.92,111.0555,110.8200,110.96,1272543.0,agg,1,-0.076702,112.533048,110.506952,10.126480,-102.173378,100.000000,111.520000,111.520000
49,2015-02-10,91.46,91.4600,91.4400,91.46,170448.0,bil,1,-0.000968,91.483094,91.436906,50.057372,-86.419753,100.000000,91.460000,91.460000

In [17]:
# Convert date column to datetime
df['date'] = pd.to_datetime(df['date'])

# Remove rows where the date appears only once
df = df[df.groupby('date')['date'].transform('count') > 1]

# Sort by date
df = df.sort_values('date').reset_index(drop=True)

In [18]:
df.shape

(23085, 16)

In [19]:
df.head(20)

,date,close,high,low,open,volume,tic,day,macd,boll_ub,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma
0,2015-02-02,112.20,112.2300,112.0000,112.06,2792120.0,agg,0,0.000000,112.593112,111.376888,0.000000,-66.666667,100.0,112.200000,112.200000
1,2015-02-02,40.65,40.7600,40.2800,40.40,15944366.0,vwo,0,0.000000,112.593112,111.376888,0.000000,-66.666667,100.0,40.650000,40.650000
2,2015-02-02,122.30,122.3899,119.9400,121.66,823489.0,vo,0,0.000000,112.593112,111.376888,0.000000,-66.666667,100.0,122.300000,122.300000
3,2015-02-02,86.32,86.6900,84.6851,86.53,7523640.0,vnq,0,0.000000,112.593112,111.376888,0.000000,-66.666667,100.0,86.320000,86.320000
4,2015-02-02,237.83,240.1000,220.8900,228.39,7421.0,btcusd,0,0.198333,245.911648,220.908352,100.000000,66.666667,100.0,233.410000,233.410000
5,2015-02-02,201.92,202.0300,197.8600,200.05,163106969.0,spy,0,0.000000,112.593112,111.376888,0.000000,-66.666667,100.0,201.920000,201.920000
6,2015-02-02,122.42,123.1550,121.8200,121.84,8885189.0,gld,0,0.000000,112.593112,111.376888,0.000000,-66.666667,100.0,122.420000,122.420000
7,2015-02-02,91.46,91.4800,91.4600,91.48,3557487.0,bil,0,0.000000,112.593112,111.376888,0.000000,-66.666667,100.0,91.460000,91.460000
8,2015-02-02,115.12,115.2100,112.8500,114.38,549866.0,vb,0,0.000000,112.593112,111.376888,0.000000,-66.666667,100.0,115.120000,115.120000
9,2015-02-03,111.77,112.1000,111.7600,112.10,1815375.0,agg,1,-0.009647,112.593112,111.376888,0.000000,-66.666667,100.0,111.985000,111.985000
10,2015-02-03,91.48,91.4800,91.4600,91.46,266084.0,bil,1,0.000449,91.498284,91.441716,100.000000,66.666667,100.0,91.470000,91.470000
11,2015-02-03,121.05,121.7600,120.5648,121.74,8255863.0,gld,1,-0.030737,123.672473,119.797527,0.000000,-66.666667,100.0,121.735000,121.735000
12,2015-02-03,204.84,204.8500,202.5500,203.00,124212881.0,spy,1,0.065513,207.509504,199.250496,100.000000,66.666667,100.0,203.380000,203.380000
13,2015-02-03,117.28,117.3300,115.5000,115.50,650585.0,vb,1,0.048462,119.254701,113.145299,100.000000,66.666667,100.0,116.200000,116.200000
14,2015-02-03,87.07,87.1000,85.6600,86.33,4617437.0,vnq,1,0.016827,87.755660,85.634340,100.000000,66.666667,100.0,86.695000,86.695000
15,2015-02-03,124.26,124.2900,122.7400,123.05,386410.0,vo,1,0.043974,126.051859,120.508141,100.000000,66.666667,100.0,123.280000,123.280000
16,2015-02-03,41.37,41.4100,41.0000,41.03,20858075.0,vwo,1,0.016154,42.028234,39.991766,100.000000,66.666667,100.0,41.010000,41.010000
17,2015-02-03,228.58,243.9000,225.3200,237.01,8303.0,btcusd,1,-0.034126,242.252311,221.347689,48.020080,47.003525,100.0,231.800000,231.800000
18,2015-02-04,41.09,41.5000,41.0500,41.19,8677098.0,vwo,2,0.011900,41.762568,40.310765,71.311475,44.801980,100.0,41.036667,41.036667
19,2015-02-04,123.71,124.3900,123.3900,123.67,434403.0,vo,2,0.038977,125.445247,121.401420,77.502045,52.218902,100.0,123.423333,123.423333

## Add covariance matrix as states

In [20]:
# add covariance matrix as states
df=df.sort_values(['date','tic'],ignore_index=True)
df.index = df.date.factorize()[0]

cov_list = []
return_list = []

# look back is one year
lookback=252
for i in range(lookback,len(df.index.unique())):
  data_lookback = df.loc[i-lookback:i,:]
  price_lookback=data_lookback.pivot_table(index = 'date',columns = 'tic', values = 'close')
  return_lookback = price_lookback.pct_change().dropna()
  return_list.append(return_lookback)

  covs = return_lookback.cov().values
  cov_list.append(covs)


df_cov = pd.DataFrame({'date':df.date.unique()[lookback:],'cov_list':cov_list,'return_list':return_list})
df = df.merge(df_cov, on='date')
df = df.sort_values(['date','tic']).reset_index(drop=True)

In [21]:
df.shape

(20817, 18)

In [22]:
df.head(10)

,date,close,high,low,open,volume,tic,day,macd,boll_ub,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma,cov_list,return_list
0,2016-02-02,109.32,109.380,109.1301,109.23,4835115.0,agg,1,0.207871,109.414436,108.155564,56.401620,128.048919,18.311124,108.540000,108.509083,"[[5.736252007431309e-06, 6.710303377777988e-09...",tic agg bil btcusd ...
1,2016-02-02,91.34,91.360,91.3400,91.34,1627284.0,bil,1,-0.003626,91.386806,91.327194,46.986934,-124.094203,12.399460,91.360333,91.364333,"[[5.736252007431309e-06, 6.710303377777988e-09...",tic agg bil btcusd ...
2,2016-02-02,372.93,374.410,371.1700,371.33,6817.0,btcusd,1,-12.397434,422.125588,352.168412,45.804685,-84.272928,40.704445,405.695000,419.803333,"[[5.736252007431309e-06, 6.710303377777988e-09...",tic agg bil btcusd ...
3,2016-02-02,108.09,108.180,107.3500,107.92,6656018.0,gld,1,1.135824,108.620100,102.477820,56.790972,143.671556,35.269843,104.479307,103.650320,"[[5.736252007431309e-06, 6.710303377777988e-09...",tic agg bil btcusd ...
4,2016-02-02,190.16,191.970,189.5400,191.96,182564890.0,spy,1,-2.744645,199.106331,183.296129,43.397377,-51.889822,20.952982,195.478153,201.393583,"[[5.736252007431309e-06, 6.710303377777988e-09...",tic agg bil btcusd ...
5,2016-02-02,99.93,101.300,99.5600,101.23,806243.0,vb,1,-2.286971,107.259181,95.234819,39.656457,-58.511357,32.436105,104.496667,109.190167,"[[5.736252007431309e-06, 6.710303377777988e-09...",tic agg bil btcusd ...
6,2016-02-02,76.42,77.000,75.9900,76.75,6405965.0,vnq,1,-0.590040,80.000387,73.562613,46.993766,-52.042083,19.794014,77.738333,78.155167,"[[5.736252007431309e-06, 6.710303377777988e-09...",tic agg bil btcusd ...
7,2016-02-02,108.76,110.390,108.3705,110.39,1044394.0,vo,1,-2.324530,116.708953,104.273047,39.842589,-62.826827,28.141177,113.705333,118.021333,"[[5.736252007431309e-06, 6.710303377777988e-09...",tic agg bil btcusd ...
8,2016-02-02,29.61,30.074,29.5250,30.01,29716675.0,vwo,1,-0.602581,31.511900,28.106100,40.930317,-50.822375,20.542572,30.827333,32.391667,"[[5.736252007431309e-06, 6.710303377777988e-09...",tic agg bil btcusd ...
9,2016-02-03,109.31,109.640,109.2000,109.26,3700282.0,agg,2,0.219987,109.409405,108.289595,56.284904,134.384090,26.433157,108.571000,108.518083,"[[5.6805382532148396e-06, 1.0046908129070857e-...",tic agg bil btcusd ...

## Training data split: 2009-01-01 to 2020-07-01

In [23]:
trade = data_split(df, TRADE_START_DATE, TRADE_END_DATE)

In [24]:
%pip install PyPortfolioOpt

Requirement already satisfied: PyPortfolioOpt in /opt/anaconda3/lib/python3.12/site-packages (1.5.6)
Requirement already satisfied: cvxpy>=1.1.19 in /opt/anaconda3/lib/python3.12/site-packages (from PyPortfolioOpt) (1.6.4)
Requirement already satisfied: ecos<3.0.0,>=2.0.14 in /opt/anaconda3/lib/python3.12/site-packages (from PyPortfolioOpt) (2.0.14)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from PyPortfolioOpt) (1.26.4)
Requirement already satisfied: pandas>=0.19 in /opt/anaconda3/lib/python3.12/site-packages (from PyPortfolioOpt) (2.2.3)
Requirement already satisfied: plotly<6.0.0,>=5.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from PyPortfolioOpt) (5.24.1)
Requirement already satisfied: scipy>=1.3 in /opt/anaconda3/lib/python3.12/site-packages (from PyPortfolioOpt) (1.13.1)
Requirement already satisfied: osqp>=0.6.2 in /opt/anaconda3/lib/python3.12/site-packages (from cvxpy>=1.1.19->PyPortfolioOpt) (1.0.3)
Requirement already satisfied: clarabel>=0.5.0 in /opt/anaconda3/lib/python3.12/site-packages (from cvxpy>=1.1.19->PyPortfolioOpt) (0.10.0)
Requirement already satisfied: scs>=3.2.4.post1 in /opt/anaconda3/lib/python3.12/site-packages (from cvxpy>=1.1.19->PyPortfolioOpt) (3.2.7.post2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.19->PyPortfolioOpt) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.19->PyPortfolioOpt) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.19->PyPortfolioOpt) (2023.3)
Requirement already satisfied: tenacity>=6.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from plotly<6.0.0,>=5.0.0->PyPortfolioOpt) (8.2.3)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.12/site-packages (from plotly<6.0.0,>=5.0.0->PyPortfolioOpt) (24.1)
Requirement already satisfied: jinja2 in /opt/anaconda3/lib/python3.12/site-packages (from osqp>=0.6.2->cvxpy>=1.1.19->PyPortfolioOpt) (3.1.4)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.12/site-packages (from osqp>=0.6.2->cvxpy>=1.1.19->PyPortfolioOpt) (75.1.0)
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.12/site-packages (from osqp>=0.6.2->cvxpy>=1.1.19->PyPortfolioOpt) (1.4.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=0.19->PyPortfolioOpt) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from jinja2->osqp>=0.6.2->cvxpy>=1.1.19->PyPortfolioOpt) (2.1.3)
Note: you may need to restart the kernel to use updated packages.

In [25]:
from pypfopt.efficient_frontier import EfficientFrontier

In [26]:
unique_tic = trade.tic.unique()
unique_trade_date = trade.date.unique()

In [27]:
df.head()

,date,close,high,low,open,volume,tic,day,macd,boll_ub,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma,cov_list,return_list
0,2016-02-02,109.32,109.38,109.1301,109.23,4835115.0,agg,1,0.207871,109.414436,108.155564,56.401620,128.048919,18.311124,108.540000,108.509083,"[[5.736252007431309e-06, 6.710303377777988e-09...",tic agg bil btcusd ...
1,2016-02-02,91.34,91.36,91.3400,91.34,1627284.0,bil,1,-0.003626,91.386806,91.327194,46.986934,-124.094203,12.399460,91.360333,91.364333,"[[5.736252007431309e-06, 6.710303377777988e-09...",tic agg bil btcusd ...
2,2016-02-02,372.93,374.41,371.1700,371.33,6817.0,btcusd,1,-12.397434,422.125588,352.168412,45.804685,-84.272928,40.704445,405.695000,419.803333,"[[5.736252007431309e-06, 6.710303377777988e-09...",tic agg bil btcusd ...
3,2016-02-02,108.09,108.18,107.3500,107.92,6656018.0,gld,1,1.135824,108.620100,102.477820,56.790972,143.671556,35.269843,104.479307,103.650320,"[[5.736252007431309e-06, 6.710303377777988e-09...",tic agg bil btcusd ...
4,2016-02-02,190.16,191.97,189.5400,191.96,182564890.0,spy,1,-2.744645,199.106331,183.296129,43.397377,-51.889822,20.952982,195.478153,201.393583,"[[5.736252007431309e-06, 6.710303377777988e-09...",tic agg bil btcusd ...

In [28]:
#calculate_portfolio_minimum_variance
portfolio = pd.DataFrame(index = range(1), columns = unique_trade_date)
initial_capital = 1000000
portfolio.loc[0,unique_trade_date[0]] = initial_capital

for i in range(len( unique_trade_date)-1):
    df_temp = df[df.date==unique_trade_date[i]].reset_index(drop=True)
    df_temp_next = df[df.date==unique_trade_date[i+1]].reset_index(drop=True)
    #Sigma = risk_models.sample_cov(df_temp.return_list[0])
    #calculate covariance matrix
    Sigma = df_temp.return_list[0].cov()
    #portfolio allocation
    ef_min_var = EfficientFrontier(None, Sigma,weight_bounds=(0, 0.15))
    #minimum variance
    raw_weights_min_var = ef_min_var.min_volatility()
    #get weights
    cleaned_weights_min_var = ef_min_var.clean_weights()

    #current capital
    cap = portfolio.iloc[0, i]
    #current cash invested for each stock
    current_cash = [element * cap for element in list(cleaned_weights_min_var.values())]
    # current held shares
    current_shares = list(np.array(current_cash)
                                      / np.array(df_temp.close))
    # next time period price
    next_price = np.array(df_temp_next.close)
    ##next_price * current share to calculate next total account value
    portfolio.iloc[0, i+1] = np.dot(current_shares, next_price)

portfolio=portfolio.T
portfolio.columns = ['account_value']

In [29]:
portfolio.head()

             account_value
2023-04-04         1000000
2023-04-05   997298.400512
2023-04-06   998704.462984
2023-04-10   997813.397911
2023-04-11  1001406.118015

In [37]:
# Assuming 'portfolio' is your DataFrame with datetime index and 'account_value'
df_daily_return = portfolio.copy()

# Calculate percent change
df_daily_return["daily_return"] = df_daily_return["account_value"].pct_change()

# Force proper dtype inference to avoid future warning
df_daily_return = df_daily_return.infer_objects(copy=False)

# Reset index and rename columns
df_daily_return = df_daily_return.reset_index().rename(columns={"index": "date"})

# Set first daily return to 0.0
df_daily_return.loc[0, "daily_return"] = 0.0

# Keep only required columns
df_daily_return = df_daily_return[["date", "daily_return"]]

/var/folders/ks/bjl76g8d4zxgw0m5p8z2pd9r0000gn/T/ipykernel_25925/531201527.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_daily_return["daily_return"] = df_daily_return["account_value"].pct_change()

In [38]:
# Preview result
df_daily_return.head()

        date  daily_return
0 2023-04-04      0.000000
1 2023-04-05     -0.002702
2 2023-04-06      0.001410
3 2023-04-10     -0.000892
4 2023-04-11      0.003601

In [39]:
df_daily_return.to_csv('df_daily_return_min.csv')